<div id="app-error-dialog" class="w3-modal ppa-ajax-error" *ngIf="getErrorMessage() !== undefined">
  <div class="w3-modal-content w3-card">
    <header class="w3-container w3-theme">
      <h2>
        <fa-icon [icon]="faExclamationTriangle" [classes]="['w3-xlarge']"></fa-icon>
        {{'error.title' | translate}}
      </h2>
    </header>
    <div class="w3-container w3-theme-l5">
      <p>{{getErrorMessage()}}</p>
    </div>
    <footer class="w3-bar w3-theme w3-padding">
      <div class="w3-right">
        <a class="w3-bar-item w3-button w3-theme-l5" (click)="dismissError()">{{'error.ok' | translate}}</a>
      </div>
    </footer>
  </div>
</div>
