<div class="w3-container w3-padding w3-theme-l4 ppa-view-container">
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
  <h2>{{'admin.system.notice' | translate}}</h2>
</div>
