<a id="app-bar-notes" routerLink="/notes" class="w3-bar-item w3-button w3-mobile" routerLinkActive
#notesRLA="routerLinkActive" [ngClass]="notesRLA.isActive ? 'w3-theme-l4' : 'w3-theme'"
*ngIf="hasRole(Role.ROLE_USER)">{{'app.notesTab' | translate}}</a>
<a id="app-bar-admin" routerLink="/admin" class="w3-bar-item w3-button w3-mobile" routerLinkActive
#systemRLA="routerLinkActive" [ngClass]="systemRLA.isActive ? 'w3-theme-l4' : 'w3-theme'"
*ngIf="hasRole(Role.ROLE_ADMIN)">{{'app.adminTab' | translate}}</a>
<a id="app-bar-logout" class="w3-bar-item w3-button w3-mobile w3-theme"
(click)="logout()">{{'app.logout' | translate:getUsername()}}</a>
