<div class="ppa-view-container">

  <div class="w3-hide-large ppa-search-tiny-level1">
    <div class="w3-row w3-section">
      <button class="w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme ppa-search-tiny-icon"
        (click)="toggleShowSmallSearchPanel()" aria-label="Search">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button class="w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme ppa-search-tiny-icon" (click)="add()"
        [disabled]="isAdding" aria-label="Add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>

  <div class="w3-container ppa-search-master-level1" [style.display]="showSmallSearchPanel ? 'block' : 'none'">
    <div class="w3-row ppa-search-master-header">
      <button class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme" (click)="debounceFilter()"
        [disabled]="isFinding" *ngIf="!isFinding" aria-label="Search">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme" [disabled]="isFinding"
        *ngIf="isFinding" aria-label="Searching">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
      <button class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme w3-hide-large"
        (click)="toggleShowSmallSearchPanel()" aria-label="Close">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </button>
      <button class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme" (click)="add()"
        [disabled]="isAdding" aria-label="Add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <div class="w3-rest ppa-btnlike-padding-top">
        <input #filterInput class="w3-input w3-theme-l5" type="text" placeholder="{{'common.filter' | translate}}"
          (input)="debounceFilter()" [(ngModel)]="filter" />
      </div>
    </div>
    <div id="notes-search-results" class="ppa-search-master-body" infiniteScroll [scrollWindow]="false"
      alwaysCallback="true" (scrolled)="findMore()">
      <ul class="w3-ul w3-border w3-theme w3-card">
        <li *ngFor="let note of notes">
          <a class="w3-button w3-ripple w3-block w3-left-align"
            [class.w3-theme-d5]="selectedNote && (selectedNote.id == note.id)" routerLink="../{{note.id}}">
            {{note.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level1" *ngIf="(selectedNote == undefined)">
    <div class="w3-container w3-section w3-theme-l5" *ngIf="!isGetting">
      <p class="w3-text-theme">{{'common.empty' | translate}}</p>
    </div>
    <div class="w3-container w3-center w3-section w3-theme-l5" *ngIf="isGetting">
      <p class="w3-text-theme" aria-label="Getting">
        <fa-icon [icon]="faSync"></fa-icon>
      </p>
    </div>
  </div>

  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level1" *ngIf="(selectedNote != undefined)">
    <div class="w3-bar ppa-search-detail-header">
      <button class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme" (click)="save()"
        [disabled]="isSaving || isDeleting" aria-label="Save">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
      <button class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme" (click)="delete()"
        [disabled]="isSaving || isDeleting" aria-label="Delete">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <div class="ppa-search-detail-body">
      <input class="w3-input w3-theme-l5" name="title" type="text" size="40" [(ngModel)]="selectedNote.title"
        [disabled]="isSaving" />
      <textarea class="w3-input w3-theme-l5" rows="20" cols="80" name="content" [(ngModel)]="selectedNote.content"
        [disabled]="isSaving"></textarea>
    </div>
  </div>

</div>
