<div class="w3-container ppa-main-container">
  <link id="app-theme" rel="stylesheet" [href]='themeSanitizedUrl'>
  <div *ngIf="isAuthenticated()" id="app-bar" class="w3-bar w3-black ppa-view-header">
    <a href="">
      <img class="w3-left ppa-version" src="assets/img/app_title.png" alt="tortuga" title="{{version$ | async}}" />
    </a>
    <div class="w3-right">
      <div id="app-actuator" class="w3-left w3-black" *ngIf="hasRole(Role.ROLE_ADMIN)">
        <a href="{{actuatorUrl}}" target="_blank">
          <div class="w3-button w3-text-theme" aria-label="Instrumentation">
            <fa-icon [icon]="faMicrochip"></fa-icon>
          </div>
        </a>
      </div>
      <div class="w3-dropdown-hover w3-black">
        <div class="w3-button w3-text-theme">
          <fa-icon [icon]="faFlag" aria-label="Language"></fa-icon>
        </div>
        <div class="w3-dropdown-content w3-bar-block w3-card w3-theme-l5 ppa-localeBox">
          <a class="w3-bar-item w3-btn" (click)="setLang('en')">
            <img src="assets/img/i18n/en.png" alt="English" title="English" />
          </a>
          <a class="w3-bar-item w3-btn" (click)="setLang('es')">
            <img src="assets/img/i18n/es.png" alt="Español" title="Español" />
          </a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-black">
        <div class="w3-button w3-text-theme">
          <fa-icon [icon]="faPalette" aria-label="Theme"></fa-icon>
        </div>
        <div class=" w3-dropdown-content w3-bar-block w3-card w3-theme-l5 ppa-themeBox">
          <a class="w3-bar-item w3-btn" style="color:#ffc107" (click)="setTheme('amber')" aria-label="amber">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#000000" (click)="setTheme('black')" aria-label="black">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#607d8b" (click)="setTheme('blue-grey')" aria-label="blue-grey">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#2196f3" (click)="setTheme('blue')" aria-label="blue">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#795548" (click)="setTheme('brown')" aria-label="brown">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#00bcd4" (click)="setTheme('cyan')" aria-label="cyan">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#616161" (click)="setTheme('dark-grey')" aria-label="dark-grey">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#ff5722" (click)="setTheme('deep-orange')" aria-label="deep-orange">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#673ab7" (click)="setTheme('deep-purple')" aria-label="deep-purple">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#4caf50" (click)="setTheme('green')" aria-label="green">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#9e9e9e" (click)="setTheme('grey')" aria-label="grey">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#3f51b5" (click)="setTheme('indigo')" aria-label="indigo">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#f0e68c" (click)="setTheme('khaki')" aria-label="khaki">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#87ceeb" (click)="setTheme('light-blue')" aria-label="light-blue">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#8bc34a" (click)="setTheme('light-green')" aria-label="light-green">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#cddc39" (click)="setTheme('lime')" aria-label="lime">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#ff9800" (click)="setTheme('orange')" aria-label="orange">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#e91e63" (click)="setTheme('pink')" aria-label="pink">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#9c27b0" (click)="setTheme('purple')" aria-label="purple">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#f44336" (click)="setTheme('red')" aria-label="red">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#009688" (click)="setTheme('teal')" aria-label="teal">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
          <a class="w3-bar-item w3-btn" style="color:#ffeb3b" (click)="setTheme('yellow')" aria-label="yellow">
            <fa-icon [icon]="faPalette"></fa-icon>
          </a>
        </div>
      </div>
      <span class="w3-hide-small">
        <app-menu-links></app-menu-links>
      </span>
      <a class="w3-bar-item w3-right w3-hide-large w3-hide-medium w3-button w3-text-theme"
        (click)="toggleSmallMenuVisibility()" aria-label="Menu">
        <fa-icon [icon]="faBars"></fa-icon>
      </a>
    </div>
  </div>
  <div id="smallMenu" class="w3-bar-block w3-theme w3-hide-large w3-hide-medium" [class.w3-hide]="hideSmallMenu"
    (click)="toggleSmallMenuVisibility()">
    <app-menu-links></app-menu-links>
  </div>
  <app-error></app-error>
  <div class="ppa-view-body">
    <router-outlet></router-outlet>
  </div>
</div>
