<div class="w3-container w3-black w3-center w3-padding-32 ppa-login-container">
  <div class="w3-content w3-container ppa-loginBox">
    <img src="assets/img/app_large.png" alt="tortuga" />
  </div>
  <div class="w3-content w3-container w3-theme ppa-login-box">
    <form (submit)="login()" class="w3-margin-bottom">
      <div class="w3-row w3-section">
        <div class="w3-col ppa-field-icon">
          <fa-icon [icon]="faUser" [classes]="['w3-xxlarge', 'w3-text-theme-l5']"></fa-icon>
        </div>
        <div class="w3-rest">
          <input class="w3-input w3-theme-l5" type="text" name="username" placeholder="{{'login.username' | translate}}"
            autofocus [(ngModel)]="username" />
        </div>
      </div>
      <div class="w3-row w3-section">
        <div class="w3-col ppa-field-icon">
          <fa-icon [icon]="faLock" [classes]="['w3-xxlarge', 'w3-text-theme-l5']"></fa-icon>
        </div>
        <div class="w3-rest">
          <input class="w3-input w3-theme-l5" type="password" name="password"
            placeholder="{{'login.password' | translate}}" [(ngModel)]="password" />
        </div>
      </div>
      <div class="w3-row w3-section">
        <input class="w3-btn w3-ripple w3-theme-l5" type="submit" value="{{'login.login' | translate}}" name="update"
          [disabled]="isLogining" />
      </div>
      <div class="w3-card w3-theme-l5" *ngIf="failed">Authentication failed</div>
    </form>
  </div>
  <div id="login-about" class="w3-content w3-text-theme ppa-loginBox">
    <p>(C) Javier Sedano 2013-2021</p>
    <p>{{versionObservable | async}}</p>
    <p><a href="assets/privacy.txt">Privacy policy</a></p>
  </div>
</div>
