<div class="w3-padding-16 w3-container w3-theme-l4 ppa-view-container">
  <div class="w3-border w3-border-theme ppa-view-container">
    <div class="w3-theme ppa-view-header">
      <div class="w3-bar">
        <div class="w3-right">
          <span class="w3-hide-small">
            <admin-menu-links></admin-menu-links>
          </span>
          <a class="w3-bar-item w3-right w3-hide-large w3-hide-medium w3-button w3-large w3-theme"
            (click)="toggleSmallMenuVisibility()" aria-label="Menu">
            <fa-icon [icon]="faBars"></fa-icon>
          </a>
        </div>
      </div>
      <div id="smallMenu" class="w3-bar-block w3-theme w3-hide-large w3-hide-medium" [class.w3-hide]="hideSmallMenu"
        (click)="toggleSmallMenuVisibility()">
        <admin-menu-links></admin-menu-links>
      </div>
    </div>
    <div class="ppa-view-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
