<div class="ppa-view-container">

  <div class="w3-hide-large ppa-search-tiny-level2">
    <div class="w3-row w3-section">
      <button class="w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme ppa-search-tiny-icon"
        (click)="toggleShowSmallSearchPanel()" aria-label="Search">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button class="w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme ppa-search-tiny-icon" (click)="add()"
        [disabled]="isAdding" aria-label="Add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>

  <div class="w3-container ppa-search-master-level2" [style.display]="showSmallSearchPanel ? 'block' : 'none'">
    <div class="w3-row ppa-search-master-header">
      <button class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme" [disabled]="isFinding" *ngIf="!isFinding"
        (click)="debounceFilter()">
        <fa-icon [icon]="faSearch" aria-label="Search"></fa-icon>
      </button>
      <button class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme" [disabled]="isFinding" *ngIf="isFinding">
        <fa-icon [icon]="faSync" aria-label="Searching"></fa-icon>
      </button>
      <button class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme w3-hide-large"
        (click)="toggleShowSmallSearchPanel()">
        <fa-icon [icon]="faAngleLeft" aria-label="Close"></fa-icon>
      </button>
      <button class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme" (click)="add()" [disabled]="isAdding">
        <fa-icon [icon]="faPlus" aria-label="Add"></fa-icon>
      </button>
      <div class="w3-rest ppa-btnlike-padding-top">
        <input #filterInput class="w3-input w3-theme-l5" type="text" placeholder="{{'common.filter' | translate}}"
          (input)="debounceFilter()" [(ngModel)]="filter" />
      </div>
    </div>
    <div id="users-search-results" class="ppa-search-master-body" infiniteScroll [scrollWindow]="false"
      alwaysCallback="true" (scrolled)="findMore()">
      <ul class="w3-ul w3-border w3-theme w3-card">
        <li *ngFor="let user of users">
          <a class="w3-button w3-ripple w3-block w3-left-align"
            [class.w3-theme-d5]="selectedUser && (selectedUser.id == user.id)" routerLink="../{{user.id}}">
            {{user.username}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level2" *ngIf="(selectedUser == undefined)">
    <div class="w3-container w3-section w3-theme-l5" *ngIf="!isGetting">
      <p class="w3-text-theme">{{'common.empty' | translate}}</p>
    </div>
    <div class="w3-container w3-center w3-section w3-theme-l5" *ngIf="isGetting">
      <p class="w3-text-theme">
        <fa-icon [icon]="faSync" aria-label="Getting"></fa-icon>
      </p>
    </div>
  </div>

  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level2" *ngIf="(selectedUser != undefined)">
    <div class="w3-bar ppa-search-detail-header">
      <button class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme" (click)="save()"
        [disabled]="(!selectedUser.passwordsMatch()) || isSaving || isDeleting">
        <fa-icon [icon]="faSave" aria-label="Save"></fa-icon>
      </button>
      <button class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme" (click)="delete()"
        [disabled]="isSaving || isDeleting">
        <fa-icon [icon]="faTrash" aria-label="Delete"></fa-icon>
      </button>
    </div>
    <div class="ppa-search-detail-body">
      <div class="ppa-w3-padding-8">
        <label class="w3-text-theme">{{'admin.users.username' | translate}}</label>
        <input class="w3-input w3-border" type="text" name="username" [(ngModel)]="selectedUser.username">
      </div>
      <div class="ppa-w3-padding-8">
        <label class="w3-text-theme">{{'admin.users.password' | translate}}</label>
        <input class="w3-input w3-border" type="password" name="hash" [(ngModel)]="selectedUser.hash">
      </div>
      <div class="ppa-w3-padding-8">
        <label class="w3-text-theme">{{'admin.users.password2' | translate}}
          <span class="w3-text-red"
            *ngIf="!selectedUser.passwordsMatch()">{{'admin.users.passwordMissmatch' | translate}}</span>
        </label>
        <input class="w3-input w3-border" type="password" name="hashConfirmation"
          [(ngModel)]="selectedUser.hashConfirmation">
      </div>
      <div class="ppa-w3-padding-8">
        <input class="w3-check w3-margin-right" type="checkbox" name="enabled" [(ngModel)]="selectedUser.enabled">
        <label class="w3-text-theme">{{'admin.users.enabled' | translate}}</label><br />
      </div>
      <div class="ppa-w3-padding-8">
        <label class="w3-text-theme">{{'admin.users.name' | translate}}</label>
        <input class="w3-input w3-border" type="text" name="name" [(ngModel)]="selectedUser.name">
      </div>
      <div class="ppa-w3-padding-8">
        <input class="w3-check w3-margin-right" type="checkbox" name="admin" [(ngModel)]="selectedUser.admin">
        <label class="w3-text-theme">{{'admin.users.admin' | translate}}</label><br />
      </div>
    </div>
  </div>

</div>
