<a routerLink="system" class="w3-bar-item w3-button w3-mobile" routerLinkActive
#systemRLA="routerLinkActive"
[ngClass]="systemRLA.isActive ? 'w3-theme-l4' : 'w3-theme'">{{'admin.systemTab' | translate}}</a>
<a routerLink="users" class="w3-bar-item w3-button w3-mobile" routerLinkActive
#usersRLA="routerLinkActive"
[ngClass]="usersRLA.isActive ? 'w3-theme-l4' : 'w3-theme'">{{'admin.usersTab' | translate}}</a>
